<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>279871377537-tq8hqkhk077t8su8vr1ev5pn5b2k1u4k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.279871377537-tq8hqkhk077t8su8vr1ev5pn5b2k1u4k</string>
	<key>API_KEY</key>
	<string>AIzaSyCVR8CnXSrQGpJA4kEtn0A3l0dUldBS6E8</string>
	<key>GCM_SENDER_ID</key>
	<string>279871377537</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>MinKyu-Son.project-sangsanggram-1771130-sonminkyu</string>
	<key>PROJECT_ID</key>
	<string>sangsanggram</string>
	<key>STORAGE_BUCKET</key>
	<string>sangsanggram.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:279871377537:ios:1a4a15e7793f6ac521fd80</string>
</dict>
</plist>